<!doctype html>
<html lang="en">
  <head>
    <!-- Métadonnées -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <!-- Titre de la page -->
    <title>Changer de mot de passe</title>

    <!-- Feuilles de style -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="../static/js/authentication.js"></script>


  </head>

  <body>

    <div class="container">
      <!-- Formulaire de changement de mot de passe -->
      <form class="form-signin" action="changePassword" method="post">
        <!-- Titre du formulaire -->
        <h4 class="form-signin-heading">Changez votre mot de passe</h4>
        <div>
          <!-- Champ pour l'adresse email -->
          <input name="inputEmail" id="inputEmail" class="hidden" value="{{email}}">
          <input name="token"  class="hidden" value="{{token}}">
          <!-- Champ pour le mot de passe -->
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" onchange="validateChangePassword()" onkeyup="validateMDP()" placeholder="Mot de Passe" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          <!-- Champ pour la confirmation du mot de passe -->
          <input type="password" id="inputPasswordRepeat" class="form-control" onchange="validateChangePassword()" onkeyup="validateRepeat()" placeholder="Confirmer le mot de passe" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        </div>
        <!-- Affichage des critères de mot de passe -->
        <div id="message">
          <p>Password must contain the following:</p>
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
        <!-- Boutton pour changer le mot de passe (initiallement désactivé) -->
        <button id="changePassword" class="btn btn-lg btn-info btn-block" type="submit" disabled="true">Changez le mot de passe</button>
      </form>

    </div> <!-- /container -->

    <!-- Scripts -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Appel de la fonction validate() pour valider le formulaire -->
  </body>
</html>
