<!doctype html>
<html lang="en">
  <head>
    <!-- Métadonnées -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <!-- Titre de la page -->
    <title>J'ai oublié mon mot de passe</title>

    <!-- Feuilles de style -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../static/css/signin.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="../static/js/authentication.js"></script>

  </head>

  <body>

    <div class="container">
      <!-- Formulaire de connexion -->
      <form class="form-signin" action="sendForgotPassword" method="post">
        <h3 class="form-signin-heading">Changer mon mot de passe</h3>
        <p>Un courriel sera envoyé avec les informations pour changer votre mot de passe</p>
        <!-- Champ pour l'adresse email -->
        <label for="inputEmail" class="sr-only">Addresse Courriel</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Addresse Courriel" required autofocus>
        <div class="checkbox">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Envoyer</button>
      </form>

    </div> 

    <!-- Scripts -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
