<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Se Connecter</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="../static/css/signup.css" rel="stylesheet">

    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="../static/js/authentication.js"></script>


  </head>

  <body>

    <div class="container">
      {% if error != '' %}
      <div class="alert alert-danger" role="alert">
        <p>{{ error }}</p>
      </div>
      {% endif %}

      <form class="form-signin" action="createAccount" method="post">
        <h2 class="form-signin-heading">Créer un compte</h2>
        <div>
          <label for="inputEmail" class="sr-only">Addresse Courriel</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" onchange="validate()" onkeyup="validateEmail()" placeholder="Addresse Courriel" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" onchange="validate()" onkeyup="validateMDP()" placeholder="Mot de Passe" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          <input type="password" id="inputPasswordRepeat" class="form-control" onchange="validate()" onkeyup="validateRepeat()" placeholder="Confirmer le mot de passe" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        </div>
        <div id="message">
          <p>Password must contain the following:</p>
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
        <button id="createAccount" class="btn btn-lg btn-info btn-block" type="submit" disabled="true", value="Identification">Créer un compte</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="GotoSignIn()">Se connecter</button>

      </form>

    </div> <!-- /container -->

    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>validate()</script>
  </body>
</html>
